<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.StoreMapper">

    <!--  각 태마 별 쇼 조회  -->
    <select id="findPremierProStore" resultType="StoreProductVO">
        select * from store_product where product_category = 'premierProStore' ORDER BY product_no ASC
    </select>

    <select id="findFinalCutStore" resultType="StoreProductVO">
        select * from store_product where product_category = 'finalCutStore' ORDER BY product_no ASC
    </select>

    <select id="findImageStore" resultType="StoreProductVO">
        select * from store_product where product_category = 'imageStore' ORDER BY product_no ASC
    </select>

    <select id="findPowerBannerStore" resultType="StoreProductVO">
        select * from store_product where product_category = 'powerBanner' ORDER BY product_no ASC
    </select>

    <!--  구인글 한개 조회  -->
    <select id="getProduct" resultType="StoreProductVO">
        select * from store_product where product_no=#{product_no}
    </select>

    <!--  제품 삽입  -->
    <insert id="addProductForm">
        insert into store_product (product_no, product_category, product_img, product_title, product_content, product_price, product_status)
        values (store_product_seq.nextval, #{product_category}, #{product_img}, #{product_title}, #{product_content}, #{product_price}, #{product_status})
    </insert>
</mapper>