<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>

<br/><br/>
</form>
<div class="container">
    <form th:action="@{/writeProduct}" th:object="${store}" method="post" enctype="multipart/form-data" style="text-align: right;">
        <!-- form fields here -->
        <input type="button" th:if="${session.loginMember != null}" value="글작성" th:onclick="|location.href='@{/writeProduct}'|" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;">
    </form>
</div>



<h4 style="text-align: center; color: #2ba0db;"> 이미지 <span style="color: black;">스토어</span> </h4>


<div class="container">
    <div class="row">
        <div th:each="product : ${product}" class="col-md-3">
            <a th:href="@{/productInfo(product_no=${product.product_no})}">
                <div class="card" style="border: 1px solid #ccc;">
                    <!-- 이미지를 표시하는 <img> 태그를 사용 -->
                    <img class="card-img-top" img th:src="@{|/upload/${product.product_img}|}" width="200px"  height="100px"/>
                    <div class="card-body">
                        <p class="card-text" th:text="${product.product_title}"></p>
                        <p class="card-text" th:text="${product.product_price + '원'}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>




</body>
</html>