<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>

<br/><br/><br/>
<div class="container">





    <div class="row">
        <div class="col">
            <span th:text="${seeker.seeker_title} " style="font-size: 30px; font-family: 'Arial', sans-serif; font-weight: bold;">">제목</span><br/>
            <span th:text="'경력: ' + ${seeker.seeker_career + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'}" style="font-size: 15px; font-family: 'Arial', sans-serif;"></span>
            <span th:text="'고용형태: ' + ${seeker.seeker_type}" style="font-size: 15px; font-family: 'Arial', sans-serif;"></span><br/>

            <span th:text="'사용툴: ' + ${seeker.seeker_tools}+ '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'" style="font-size: 15px; font-family: 'Arial', sans-serif;"></span>
            <span th:text="'건당: ' + ${seeker.seeker_case} + '만원'" style="font-size: 15px; font-family: 'Arial', sans-serif;"></span><br/>
            <span th:text="'분당: ' + ${seeker.seeker_min} + '만원'" style="font-size: 15px; font-family: 'Arial', sans-serif;"></span>
        </div>
        <div class="col-4">
            <br/><br/>
            <span th:text="${'닉네임: ' + seeker.user_name}" style="font-size: 15px; font-family: 'Arial', sans-serif;">담당자</span><br/>
            <span th:text="${'이메일: ' + user.user_email}" style="font-size: 15px; font-family: 'Arial', sans-serif;">이메일</span><br/>
            <span th:text="${'전화번호: ' + user.user_tel}" style="font-size: 15px; font-family: 'Arial', sans-serif;">전화번호</span>
        </div>
    </div>



    <div class="container" style="border: 1px solid #ccc; height: 200px; background-color: #f0f8ff; line-height: 1.2; overflow-y: scroll;">
        <span th:utext=" ${seeker.seeker_portofolio}"></span>
    </div>



<div style="text-align: right;">
<form th:action="@{/updateSeeker}" th:object="${seeker}" method="post" enctype="multipart/form-data" style="display: inline-block;">
    <!-- form fields here -->
    <input type="button" th:if="${session.loginMember != null and session.loginMember.user_no == seeker.user_no}" value="수정" th:onclick="|location.href='/updateSeeker?seeker_no=${seeker.seeker_no}'|" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;">
</form>

<form th:action="@{/deleteSeeker}" method="post" style="display: inline-block;">
    <input type="hidden" name="seeker_no" th:value="${seeker.seeker_no}" />
    <input type="submit" th:if="${session.loginMember != null and session.loginMember.user_no == seeker.user_no}" value="삭제" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;" />
</form>
</div>
</div>
</body>
</html>