<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>

<br/><br/>
</form>
<div class="container">
    <form th:action="@{/writeSeeker}" th:object="${seeker}" method="post" enctype="multipart/form-data" style="text-align: right;">
        <!-- form fields here -->
        <input type="button" th:if="${session.loginMember != null}" value="글작성" th:onclick="|location.href='@{/writeSeeker}'|" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;">
    </form>
</div>




<h4 style="text-align: center; color: #2ba0db;"> 에디터 <span style="color: black;">리스트</span> </h4>


<div class="container">
    <div class="row">
        <div th:each="seeker : ${seeker}" class="col-md-3">
            <a th:href="@{/seekerInfo(seeker_no=${seeker.seeker_no})}">
                <div class="card" style="border: 1px solid #ccc;">
                    <h4 class="card-header text-uppercase m-0" th:text="${'닉네임: ' + seeker.user_name}"></h4>
                    <div class="card-body">
                        <p class="card-text" th:text="${seeker.seeker_title}"></p>
                        <p class="card-text" th:text="${'건당 ' + seeker.seeker_case + '원'}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
            <ul class="pagination float-right">
                <li th:if="${pageDTO.prev}" class="paginate_button page-item previous" id="dataTable_previous">
                    <a th:href="@{/jobSeeker/virtualSeeker(pageNum=${pageDTO.startPage - 1},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                <li th:each="page, pageStat : ${pageDTO.getPageNumList()}" class="paginate_button page-item" th:classappend="${pageDTO.pager.pageNum == page} ? 'active'">
                    <a th:href="@{/jobSeeker/virtualSeeker(pageNum=${page},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}" th:text="${page}" aria-controls="dataTable" th:data-dt-idx="${pageStat.count}" tabindex="0" class="page-link"></a>
                </li>
                <li th:if="${pageDTO.next}" class="paginate_button page-item next" id="dataTable_next">
                    <a th:href="@{/jobSeeker/virtualSeeker(pageNum=${pageDTO.endPage + 1},searchType=${pageDTO.pager.searchType},keyword=${pageDTO.pager.keyword})}" aria-controls="dataTable" th:data-dt-idx="${pageDTO.endPage}" tabindex="0" class="page-link">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
