<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>
<br/><br/><br/>

<div class="container">

    <form th:action="@{/updateBoard}" th:object="${board}" method="post" enctype="multipart/form-data" style="text-align: right;">
        <!-- form fields here -->
        <input type="button" th:if="${session.loginMember != null and session.loginMember.user_no == board.user_no}" value="수정" th:onclick="|location.href='/updateBoard?comm_no=${board.comm_no}'|" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;">
    </form>
    <form th:action="@{/deleteBoard}" method="post">
        <input type="hidden" name="comm_no" th:value="${board.comm_no}" />
        <input type="submit" th:if="${session.loginMember != null and session.loginMember.user_no == board.user_no}" value="삭제" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;" />
    </form>

    <div class="container-fluid">
    <div class="row">
        <div class="mb-3">
            <div style="border: 1px solid #ccc; padding: 10px;">
                <a>커뮤니티</a><br/>
                <a href="/board/freeBoard">자유게시판</a><br/>
                <a href="/board/feedbackBoard">피드백</a><br/>
                <a href="/board/revenueBoard">수익공개</a><br/>
                <a href="/board/taxBoard">세금Q&A</a>
            </div>
        </div>

        <div class="col">
            <span th:text="${board.comm_title}" style="font-size: 30px;"></span><br/>
            <span th:text="${board.user_no}" style="font-size: 24px;"></span>
            <span th:text="${board.regDate}" style="float: right;"></span>
        </div>

        <div class="container" style="border: 1px solid #ccc; height: 200px; background-color: #f0f8ff;" >
                <span th:utext="${board.comm_content}"></span>
            </div>

    </div>
    </div>



<div class="card shadow mb-4">
    <div class="card-header py-3 row mx-0">
        <form id="reply_form" style="width:100%;height:100%;">
            <div class="d-flex justify-content-between align-items-center" style="width:100%;height:100%;">
                <div class="d-flex align-items-center" style="width:70%;">
                    <label style="white-space: nowrap;text-align: center; margin-bottom: 0;">새 댓글 </label>
                    <input class="form-control mx-2" type="text" id="replyContent" placeholder="댓글..."/>
                    <label style="white-space: nowrap;text-align: center; margin-bottom: 0;">작성자</label>
                    <div>
                        <p th:if="${#session.getAttribute('loginMember') != null}" th:text="${#session.getAttribute('loginMember').user_name}"></p>
                        <p th:if="${#session.getAttribute('loginMember') == null}">로그인을 해주세요</p>
                    </div>

                </div>
                <span class="badge text-bg-primary"><button  type="button" id="addReplyBtn" class="btn btn-sm btn-dark" >댓글등록</button></span>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div id="reply_container"></div>
        <div id="reply_paging" class="float-right my-3"></div>
    </div>
</div>
<br /><br/>


<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function(){
			// 게시글 목록 영역 (div)
		let reply_container = $("#reply_container");
		// 현재 게시글의 고유번호(comm_no) js로 가져오기
		let comm_no = [[${board.comm_no}]];

		console.log("comm_no : "+ comm_no);
		showList(1); // 처음 content.jsp 로딩시는 댓글 1페이지 요청

		// 댓글 목록 가져와 화면에 뿌리기
		function showList(page) {
			console.log("showList 호출!!! page : " + page);
			// 댓글 목록가져오는 Controller 요청하여
			// DB에서 bno에 해당하는 댓글 목록 가져오기
			$.ajax({
				url: "/replies/boardInfo/"+comm_no+"/"+page,
				type: "get",

				success: function(data){
					console.log("showList success!!");
					console.log(data); // ReplyPageDTO(replyCount, list)
					printList(data.list); // 함수 호출해 화면에 댓글 목록 뿌려주기
					showReplyPaging(data.replyCount); // 댓글 페이지번호 띄우기호출


				},
				error: function(e){
					console.log("error...");
					console.log(e);
				}
			});//end ajax
		}//end showList

		// 화면에 목록 뿌리기 (동적으로 HTML 만들어 붙히기)
		function printList(data){
		let sessionNo = [[${sessionNo}]];
		console.log("sessionNo :" +sessionNo);
			// 화면에 붙혀줄 html 코드를 문자열로 미리 준비
			let str = "<table style='width: 100%';>";
			for(let i = 0; i < data.length; i++){
				str += "<tr style='height: 60px; border-bottom: 1px solid #000;' ><td style='width:8%'>";
				str += " 작성자 : "
				str += "</td><td class='user_name' style='width:10%'>" +data[i].user_name
				str += "</td><td style='width:7%'>";
				str += "&nbsp&nbsp내용 : "
				str += "</td><td class='replyContent' style='width:25%'>"+data[i].replyContent
				str += "</td><td style='width:7%'>";
				str += "&nbsp&nbsp날짜 : "
				str += "</td><td class='replyDate' style='width:20%'>"+timeFormat(data[i].reply_date);
				str += "</td><td style='height: inherit;' class='d-flex justify-content-end align-items-center' >";

				let replyUserNo = data[i].user_no; // data 배열에서 user_no를 가져옴
                console.log("replyUserNo :" + replyUserNo);

				if (sessionNo != null && sessionNo == replyUserNo) {
                str += "<button type='button' class='modifReplyBtn btn btn-sm btn-secondary mx-1' style='border:none' data-rno='"+data[i].rno+"'>수정</button>";
				str += "<button type='button' class='delReplyBtn bth btn-sm btn-dark mx-1' style='border:none' data-rno='"+data[i].rno+"'>삭제</button>";}
				str += "</td></tr>";
			}
			str += "</table>";
			//console.log("str : " + str);




			// 목록 보여주는 영역에 html 만들어둔거 붙히기
			reply_container.html(str);

		}// end printList

		// 댓글 페이지번호 출력 로직
		let pageNum = 1;  // 댓글 페이지 번호 들고 있을 변수
		let replyPaging = $("#reply_paging"); // 페이지번호 띄워줄 div 태그

		function showReplyPaging(replyCount) {
			// 본문글에 해당하는 전체 댓글 수
			console.log("showReplyPaging 호출, replyCount : " + replyCount);
			// 전체 댓글수로 페이지번호 띄워줄 값들 계산
			let endNum = Math.ceil(pageNum / 10.0) * 10; // 마지막페이지번호
			let startNum = endNum - 9; // 시작페이지번호
			let prev = startNum != 1;  // true/fase
			let next = false;
			if(endNum * 10 >= replyCount) {
				endNum = Math.ceil(replyCount / 10.0);
			}
			if(endNum * 10 < replyCount) {
				next = true;
			}
			// 페이지 번호 띄워줄 HTML 문자열로 작성하기
			let str = "";
			if(prev) {
				str += "<a class='page_link' href='"+(startNum-1)+"'> prev </a>";
			}
			for(let i = startNum; i <= endNum; i++){
				str += "<a class='page_link' href='"+i+"'>&nbsp; "+ i +" &nbsp;</a>";
			}
			if(next) {
				str += "<a class='page_link' href='"+(endNum+1)+"'> next </a>";
			}

			// 페이지 번호 div안에 띄우기
			replyPaging.html(str);

		}// end showReplyPaging()

		// 댓글 페이지번호 이벤트
		replyPaging.on("click", "a.page_link", function(e){
			// a 태그의 기본 기능 없애기 (href속성에 적힌 링크로 이동)
			e.preventDefault();
			// 클릭한 a태그의 href속성 값을 가져와 (값은 요청할 댓글 페이지번호)
			let pageLinkNum = $(this).attr("href");
			console.log("replyPaging 이벤트 호출, pageLinkNum : " + pageLinkNum);
			// showList호출시 댓글 페이지번호 주기
			pageNum = pageLinkNum; // 현재 페이지값을 이동할 페이지로 변경
			showList(pageLinkNum); // 해당 댓글페이지 목록가져와 보여줘
		});


		// 댓글 등록 이벤트
		$("#addReplyBtn").click(function(){
		    let sessionNo = [[${sessionNo}]];
			console.log("댓글 버튼 클릭!!!");
			// 폼태그안에 입력한 내용들 JS(여기)로 가져와
			// ajax 요청 -> DB에 저장해라!
			let replyContentVal = $("#replyContent").val();
			let user_noVal = [[${sessionNo}]];
			let user_nameVal = [[${#session.getAttribute('loginMember').user_name}]];
			console.log("replyContentVal : " + replyContentVal);
			console.log("user_noVal : " + user_noVal);


			// 보내줄 데이터 JS 객체로 만들기 --> ReplyController에서 ReplyVO로 자동 수집되도록 ReplyVO처럼 JS객체를 만들어줌
			let newReplyData = {
					replyContent : replyContentVal,
					user_no : user_noVal,
					user_name : user_nameVal,
					comm_no : [[${board.comm_no}]]
			};

			$.ajax({
				url: "/replies/new",
				type: "post",
				data: JSON.stringify(newReplyData),
				contentType: "application/json;charset=utf-8",
				success: function(result){
					console.log("댓글 등록 요청 성공!!");
					console.log("result = replyCount : " + result);

					// 댓글 목록 화면에 다시 가져와 뿌리기
					showList(1);
					// 댓글 등록 입력란 비워주기
					$("#replyContent").val("");

					// 피드의 댓글 개수 새로 뿌리기
					$("#reply_count").text(result);
				},
				error: function(e){
					console.log("댓글 등록 요청 실패...");
					console.log(e);
				}
			});
		}); // end 댓글등록이벤트


		// 댓글 삭제
		$("#reply_container").on("click", "button.delReplyBtn", function(e){
			console.log("댓글 삭제 버튼 클릭!!!!!");
			// ajax로 삭제 요청 (rno필요)
			console.log($(this).data("rno")); // <button data-rno="22"
			let rnoVal = $(this).data("rno");
			$.ajax({
				url: "/replies/" + rnoVal,
				type: "delete",
				success: function(result){
					console.log("댓글 삭제 요청 성공!!!");
					console.log(result);
					// 댓글 목록 리로딩
					showList(pageNum);
				},
				error: function(e){
					console.log("댓글 삭제 요청 실패......");
					console.log(e);
				}
			});
		});

		// 댓글 수정
		$("#reply_container").on("click", "button.modifReplyBtn", function(e){
			console.log("댓글 수정버튼 클릭!!!!");

			// 1. 수정버튼 클릭 -> 해당 댓글이 수정가능한 input 태그로 변경, 수정완료버튼
			// 1-1. 현재 화면에 작성되어있는 rno, replyContent, user_no, replyDate 꺼내기
			console.log($(this).parent().parent());
			let parentTr = $(this).parent().parent(); // 수정버튼을 감싸고 있는 부모의부모인 tr태그

			// 기존 화면에 뿌려진 댓글 태그에서 값 가져오기
			let rnoVal = $(this).data("rno");
			let replyContentVal = parentTr.find("td[class='replyContent']").html();
			let user_noVal = parentTr.find("td[class='user_no']").html();
			let replyDateVal = parentTr.find("td[class='replyDate']").html();

			// 입력가능한 형태의 html로 변경해주기 -> html 준비
			//let str = '<td class="rno">' + rnoVal + '</td>';
			let str = '<td colspan="2" class="user_no" >'+user_noVal+'</td>';

			str += '<td colspan="2" class="replyContent" >&nbsp&nbsp';
			str += '<input type="text" id="modifReplyInput" value="'+replyContentVal+'"/></td>';
			str += '<td colspan="2" class="replyDate" >&nbsp&nbsp'+replyDateVal+'</td>';
			str += '<td style="height: inherit;"  class="d-flex justify-content-end align-items-center" ><button type="button" class="modifSubmitBtn btn btn-sm btn-outline-dark mx-1" data-rno="'+rnoVal+'">수정</button>';
			str += '<button type="button" class="modifCancelBtn btn btn-sm btn-secondary mx-1">취소</button>';
			str += '<button type="button" class="delReplyBtn btn btn-sm btn-dark mx-1" data-rno="'+rnoVal+'">삭제</button></td>';

			// tr 태그 안의 html로 변경
			parentTr.html(str);

		});

		// 댓글 수정취소 이벤트 처리
		$("#reply_container").on("click", "button.modifCancelBtn", function(e){
			showList(pageNum);
		});
		// 2. 수정완료버튼 클릭 -> ajax로 수정 요청이 들어가야함 -> DB 수정처리
		$("#reply_container").on("click", "button.modifSubmitBtn", function(e){
			console.log("수정완료버튼 클릭!!")
			// 수정처리 ajax 요청 --> replyContent, rno
			let rnoVal = $(this).data("rno");
			let replyNewContent = $("#modifReplyInput").val();
			console.log("rno : " + rnoVal + ", replyContent : " + replyNewContent);

			// 요청시 보내줄 데이터 JS 객체로 만들기 (ReplyVO의 변수이름동일하게)
			let updateData = {
					rno: rnoVal,
					replyContent: replyNewContent
			};

			$.ajax({
				url: "/replies/" + rnoVal,
				type: "put",
				data: JSON.stringify(updateData),
				contentType: "application/json;charset=utf-8",
				success: function(result){
					console.log('댓글 수정처리요청 성공!!');
					console.log(result);
					// 댓글 목록 갱신
					showList(pageNum); // 현재 보던페이지로
				},
				error: function(e){
					console.log("댓글 수정처리요청 실패.....");
					console.log(e);
				}
			});

		});


			// 날짜 변환 함수
			function timeFormat(timeValue) {
				let dateObj = new Date(timeValue);
				let yy = dateObj.getFullYear();
				let mm = dateObj.getMonth() + 1;
				let dd = dateObj.getDate();
				let hh = dateObj.getHours();
				let mi = dateObj.getMinutes();
				let ss = dateObj.getSeconds();
				let result = yy + "-" + (mm > 9 ? "" : "0") + mm + "-" + (dd > 9 ? "" : "0") + dd + " ";
				result += (hh > 9 ? "" : "0") + hh + ":" + (mi > 9 ? "" : "0") + mi + ":" + (ss > 9 ? "" : "0") + ss;
				return result;
			}
		});
		/*]]>*/
	</script>

</div>

</body>
</html>