<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>
<br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col">
            <span th:text="${offer.offer_company}" style="font-size: 30px; font-family: 'Arial', sans-serif; font-weight: bold;">회사이름</span></br>
            <span th:text="${offer.offer_title} " style="font-size: 24px; font-family: 'Arial', sans-serif;">제목</span><br/>
            <span th:text="'경력: ' + ${offer.offer_career + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'}" style="font-size: 15px; font-family: 'Arial', sans-serif; color: gray;"></span>
            <span th:text="'고용형태: ' + ${offer.offer_type}" style="font-size: 15px; font-family: 'Arial', sans-serif; color: gray;"></span><br/>

            <span th:text="'사용툴: ' + ${offer.offer_tools}+ '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp'" style="font-size: 15px; font-family: 'Arial', sans-serif; color: gray;"></span>
            <span th:text="'급여: ' + ${offer.offer_salary} + '만원'" style="font-size: 15px; font-family: 'Arial', sans-serif; color: gray;"></span>
        </div>
        <div class="col-4">
            <br/><br/>
            <span th:text="${'담당자: ' + member.user_id}" style="font-size: 15px; font-family: 'Arial', sans-serif;">담당자</span><br/>
            <span th:text="${'이메일: ' + member.user_email}" style="font-size: 15px; font-family: 'Arial', sans-serif;">이메일</span><br/>
            <span th:text="${'전화번호: ' + member.user_tel}" style="font-size: 15px; font-family: 'Arial', sans-serif;">전화번호</span>
        </div>
    </div>


    <div class="container" style="border: 1px solid #ccc; height: 200px; background-color: #f0f8ff; overflow-y: scroll; margin-top: 0; margin-bottom: 0;">
        <span th:utext="${offer.offer_content}"></span>
    </div>


    <div style="text-align: right;">
        <form th:action="@{/updateOffer}" th:object="${offer}" method="post" enctype="multipart/form-data" style="display: inline-block;">
            <!-- form fields here -->
            <input type="button" th:if="${session.loginMember != null and session.loginMember.user_no == offer.user_no}" value="수정" th:onclick="|location.href='/updateOffer?offer_no=${offer.offer_no}'|" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;">
        </form>

        <form th:action="@{/deleteOffer}" style="display: inline-block;">
            <input type="hidden" name="offer_no" th:value="${offer.offer_no}" />
            <input type="submit" th:if="${session.loginMember != null and session.loginMember.user_no == offer.user_no}" value="삭제" style="padding: 5px 10px; background: #2ba0db; color: #fff; font-size: 13px; text-decoration: none; text-transform: uppercase; border: none; cursor: pointer;" />
        </form>
    </div>


    <a>[회사 위치] </a>
    <div id="map" style="width: 1100px; height: 400px;" ></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d23c2fa3aa909f6fa1938aca04bb3231&libraries=services"></script>
    <br/><br/>
    <script th:inline="javascript">
        /*<![CDATA[*/
         const Address = /*[[${offer.offer_address}]]*/;
        /*]]>*/

        console.log("Offer Address:",  Address);


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(0, 0), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다

        geocoder.addressSearch(Address, function(result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + /*[[${offer.offer_title}]]*/ null + '</div>'
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            }
        });

    </script>
</div>

</body>
</html>