<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- SmartEditor2 텍스트편집기 -->
    <script src="/libs/smarteditor/js/service/HuskyEZCreator.js" charset="utf-8"></script>


    <th:block th:insert="~{assist/header :: head_header}" />
</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>

<h1>구인 글작성</h1>

<form id="offerForm" th:object="${offer}" method="post" >
    <div class="container">
        <div class="mb-3">
            <label for="categorySelect" class="form-label">카테고리</label>
            <select th:field="*{offer_category}" class="form-select" id="categorySelect">
                <option value="editer">편집자</option>
                <option value="thumbnailer">썸네일러</option>
                <option value="sdCharacter">SD캐릭터</option>
                <option value="virtual">버츄얼</option>
                <option value="camaraMan">촬영팀</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="companyInput" class="form-label">회사</label>
            <input th:field="*{offer_company}" class="form-control" id="companyInput" >
        </div>
        <div class="mb-3">
            <label for="titleInput" class="form-label">제목</label>
            <input th:field="*{offer_title}" class="form-control" id="titleInput" >
        </div>
        <div class="mb-3">
            <label for="careerInput" class="form-label">경력</label>
            <input th:field="*{offer_career}" class="form-control" id="careerInput" >
        </div>
        <div class="mb-3">
            <label for="toolsInput" class="form-label">사용툴</label>
            <input th:field="*{offer_tools}" class="form-control" id="toolsInput" >
        </div>
        <div class="mb-3">
            <label for="typeInput" class="form-label">고용형태</label>
            <input th:field="*{offer_type}" class="form-control" id="typeInput" >
        </div>
        <div class="mb-3">
            <label for="salaryInput" class="form-label">급여</label>
            <input th:field="*{offer_salary}" class="form-control" id="salaryInput" >
        </div>


        <div class="mb-3">
            <label for="address" class="form-label">회사주소</label><br/>
            <input th:field="*{offer_address}" name="address" id="address" class="form-control" >
            <button type="button" id="sendBtn" name="sendBtn" onclick="sendAddress()">입력</button>
        </div>

        <div id="map" style="width:100%;height:350px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d23c2fa3aa909f6fa1938aca04bb3231&libraries=services"></script>


        <!-- 스마트 에디터 플레이스홀더 -->
        <div id="smarteditor">
            <textarea id="offer_content" name="offer_content" rows="10" cols="100" style="width: 100%;"></textarea>
        </div>
        <input type="submit" value="저장" th:onclick= "submitPost()">
        <input type="button" value="취소" th:onclick="|location.href='@{/mainPage}'|">
    </div>
    <br/><br/><br/><br/>
</form>
<script>
    let oEditors = []

    smartEditor = function(){
        console.log("네이버 스마트 에디터")
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "offer_content",
            sSkinURI: "/libs/smarteditor/SmartEditor2Skin.html",
            fCreator: "createSEditor2"
        })
    }
    $(document).ready(function(){
        smartEditor()
    })
</script>
<script th:inline="javascript">

    submitPost = function(){
        oEditors.getById["offer_content"].exec("UPDATE_CONTENTS_FIELD", []);
        let content = oEditors.getById["offer_content"].getText();  // Get plain text content

        if(content == ""){
            alert("내용을 입력해주세요")
            oEditors.getById["offer_content"].exec(FOCUS)
            return
        }else{
            console.log(content)
            offer_content = content
            console.log(offer_content)
        }
    }

    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    function sendAddress(){

        var Address = document.getElementById("address").value;

        console.log("Offer Address:", Address);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 키워드로 장소를 검색합니다
        ps.keywordSearch(Address, placesSearchCB);
    }
    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i<data.length; i++) {
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
</script>



</body>
</html>