<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create id</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <th:block th:insert="~{assist/header :: head_header}" />

    <style>
.id_ok{
color:#008000;
display: none;
}

.id_already{
color:#6A82FB;
display: none;
}
</style>

</head>
<body>
<th:block th:insert="~{assist/header :: contents}"/>
    <h1>회원가입</h1>
<form th:action="@{/createId}" th:object="${member}" method="post">
    <div class="container">
        <div class="mb-3">
            <label for="id">아이디</label>
            <input th:field="*{user_id}" id="id" name="id" oninput = "checkId()" >


            <!-- id ajax 중복체크 -->
            <span class="id_ok">사용 가능한 아이디입니다.</span>
            <span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
        </div>

        <div class="mb-3">
        <label for="pwInput" class="form-label">비밀번호</label>
        <input th:field="*{user_pw}" class="form-control" id="pwInput" />
    </div>

        <div id="mail_input" name="mail_input">
            <input type="text" name="mail" id="mail" placeholder="이메일 입력" onkeyup="copyValue()">
            <input th:field="*{user_email}" class="form-control" id="emailInput" style="display: none"/>
            <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호</button>
        </div>


        <br>
        <div id="mail_number" name="mail_number" style="display: none">
            <input type="text" name="number" id="number" placeholder="인증번호 입력">
            <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
        </div>
        <br>
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">

    <div class="mb-3">
        <label for="nameInput" class="form-label">이름</label>
        <input th:field="*{user_name}" class="form-control" id="nameInput"/>
    </div>

    <div class="mb-3">
        <label for="telInput" class="form-label">전화번호</label>
        <input th:field="*{user_tel}" class="form-control" id="telInput"/>




    </div>
        <button type="submit" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/login}'|">취소</button>
    </div>

</form>


<script type="text/javascript">
    function sendNumber(){
        $("#mail_number").css("display","block");
        $.ajax({
            error:function(request, status, error){
		      alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	        },
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"mail" : $("#mail").val()},
            success: function(data){
                alert("인증번호 발송");
                $("#Confirm").attr("value",data);
            }
        });
    }

    function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 == number2){
        alert("인증되었습니다.");
        }
        else{
            alert("번호가 다릅니다.");
        }
    }



    function copyValue() {
        var emailInput = document.getElementById("emailInput");
        var mail = document.getElementById("mail").value;
        emailInput.value = mail;
    }

    function checkId(){
        var id = $('#id').val(); //id값이 "id"인 입력란의 값을 저장
        $.ajax({
            url:'/idCheck', //Controller에서 요청 받을 주소
            type:'post', //POST 방식으로 전달
            data:{id:id},
            success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(cnt == 0){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디
                    $('.id_ok').css("display","inline-block");
                    $('.id_already').css("display", "none");
                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    $('.id_already').css("display","inline-block");
                    $('.id_ok').css("display", "none");
                    alert("이미 사용중인 아이디 입니다.");
                    $('#id').val('');
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
        };

</script>




</body>
</html>
